<div class="row">
    <div class="col-xs-6">
        <rd-widget>
            <rd-widget-body>
                <div class="widget-icon green pull-left">
                    <i class="fa fa-users"></i>
                </div>
                <div class="title">3</div>
                <div class="comment">Jumpers</div>
            </rd-widget-body>
        </rd-widget>
    </div>
    <div class="col-xs-6">
        <rd-widget>
            <rd-widget-body>
                <div class="widget-icon blue pull-left">
                    <i class="fa fa-globe"></i>
                </div>
                <div class="title">2</div>
                <div class="comment">Countries</div>
            </rd-widget-body>
        </rd-widget>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <rd-widget>
            <rd-widget-header [icon]="'fa-users'" [title]="'Jumpers'">
                <a style="float: right">Manage</a>
            </rd-widget-header>
            <rd-widget-body classes="medium no-padding">
                JUMPERS LIST
            </rd-widget-body>
        </rd-widget>
    </div>
    <div class="col-lg-6">
        <rd-widget>
            <rd-widget-header [icon]="'fa-globe'" [title]="'Countries'">
                <a style="float: right">Manage</a>
            </rd-widget-header>
            <rd-widget-body classes="medium no-padding">
                COUNTRIES LIST
            </rd-widget-body>
        </rd-widget>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <rd-widget>
            <rd-widget-header [icon]="'fa-flag'" [title]="'Flags'">
                <a style="float: right">Manage</a>
            </rd-widget-header>
            <rd-widget-body classes="medium no-padding">
                FLAGS LIST
            </rd-widget-body>
        </rd-widget>
    </div>
</div>
