<div class="row">
    <div class="col-xs-6">
        <rd-widget>
            <rd-widget-body>
                <div class="widget-icon green pull-left">
                    <i class="fa fa-users"></i>
                </div>
                <div class="title">{{jumpers.length}}</div>
                <div class="comment">Jumpers</div>
            </rd-widget-body>
        </rd-widget>
    </div>
    <div class="col-xs-6">
        <rd-widget>
            <rd-widget-body>
                <div class="widget-icon blue pull-left">
                    <i class="fa fa-globe"></i>
                </div>
                <div class="title">2</div>
                <div class="comment">Countries</div>
            </rd-widget-body>
        </rd-widget>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <rd-widget>
            <rd-widget-header [icon]="'fa-users'" [title]="'Jumpers'">
                <a class="text-right" [routerLink]="['/jumpers']">Manage</a>
            </rd-widget-header>
            <rd-widget-body classes="medium no-padding">
                <collection-list [actions]="false" [tableContent]="jumpers" [tableHeader]="jumpersHeader" [infoLink]="'/JumperEdit'"></collection-list>
             </rd-widget-body>
        </rd-widget>
    </div>
    <div class="col-lg-6">
        <rd-widget>
            <rd-widget-header [icon]="'fa-globe'" [title]="'Countries'">
                <a class="text-right" [routerLink]="['/flags']">Manage</a>
            </rd-widget-header>
            <rd-widget-body classes="medium no-padding">
                <collection-list [actions]="false" [tableContent]="flags" [tableHeader]="flagsHeader" [infoLink]="'/JumperEdit'"></collection-list>
            </rd-widget-body>
        </rd-widget>
    </div>
</div>
