<div class="row">
    <div class="col-lg-12">
        <rd-widget>
            <rd-widget-header icon="fa-users" title="Jumpers">
                Edit Jumper
            </rd-widget-header>
            <rd-widget-body classes="no-padding">
                <div class="input-group">
                    <edit-input [iconclass]="'fa-user'" [placeholder]="'Name'"></edit-input>
                    <edit-input [iconclass]="'fa-globe'" [placeholder]="'Jumps'"></edit-input>
                    <edit-input [iconclass]="'fa-flag-checkered'" [placeholder]="'Jumps'"></edit-input>
                    <edit-input [iconclass]="'fa-globe'" [placeholder]="'Countries'"></edit-input>
            </rd-widget-body>
        </rd-widget>
    </div>
</div>
