<div class="row">
    <div class="col-lg-12">
        <rd-widget>
            <rd-widget-header [icon]="'fa-user'" [title]="jumper.name">
                <button class="btn btn-default" (click)="enableEditor()">{{!enabled ? 'Edit' : 'Close'}}</button>
            </rd-widget-header>
            <rd-widget-body>
                <fieldset [disabled]="!enabled">
                    <icon-input [iconclass]="'fa-user'" [placeholder]="'Name'" [value]="jumper.name"></icon-input>
                    <icon-input [hidden]=enabled [iconclass]="'fa-trophy'" [placeholder]="'Points'" [value]="jumper.points"></icon-input>
                    <icon-input [iconclass]="'fa-thumbs-up'" [placeholder]="'Likes'" [value]="jumper.likes"></icon-input>
                    <icon-input [iconclass]="'fa-child'" [placeholder]="'Jumps'" [value]="jumper.jumps"></icon-input>
                    <icon-input [iconclass]="'fa-flag-checkered'" [placeholder]="'Flags'" [value]="jumper.countries.length"></icon-input>
                    <icon-input [iconclass]="'fa-globe'" [placeholder]="'Countries'" [value]="jumper.countries.length"></icon-input>
                    <div class="pull-right" [hidden]=!enabled>
                        <button class="btn btn-default" (click)="updateJumper()">Save</button>
                    </div>
                </fieldset>

            </rd-widget-body>
        </rd-widget>
    </div>
</div>
